# Prédicitons on marketing

In [1]:
import pandas as pd
import pickle

In [5]:
# Load data preprocessor
with open("data_transformer.pkl", 'rb') as file:
    transformer = pickle.load(file)
    
# Load best estimator : random forest 
with open('mlruns/187421170836912428/e1ce6ec2bb884dbea17dc21ebda6b19f/artifacts/random forest/model.pkl', 'rb') as file:
    rf = pickle.load(file)

In [8]:
path_to_marketing = "./Données communes/Marketing.csv"
marketing = pd.read_csv(path_to_marketing, encoding="ISO-8859-1")

marketing.rename(columns={"2eme voiture" : "VoitureN2"}, inplace=True)

display(marketing.head(3))

map_sexe = {"M": "Masculin", "F": "Féminin", "Masculin" : "Masculin", "Homme" : "Masculin", "Féminin" : "Féminin", "Femme" : "Féminin"}
map_situationFamiliale = {"En Couple": "En Couple", "Célibataire": "Célibataire", "Seule" : "Célibataire", "Marié(e)" : "En Couple", "Seul" : "Célibataire"}
map_VoitureN2 = {True: "Oui", False: "Non"}

marketing.age = pd.to_numeric(marketing.age, errors="coerce")
marketing.taux = pd.to_numeric(marketing.taux, errors="coerce")
marketing.nbEnfantsAcharge = pd.to_numeric(marketing.nbEnfantsAcharge, errors="coerce") 

marketing['VoitureN2'] = marketing['VoitureN2'].map(map_VoitureN2)
marketing.sexe = marketing.sexe.map(map_sexe)
marketing.situationFamiliale = marketing.situationFamiliale.map(map_situationFamiliale)

marketing['tranche_age'] = marketing.age.map(lambda x : 0 if x < 35 else (1 if x>=35 and x<60 else 2))


X_marketing = transformer.transform(marketing)
print("\nshape X_marketing:", X_marketing.shape)

   age sexe  taux situationFamiliale  nbEnfantsAcharge  VoitureN2
0   21    F  1396        Célibataire                 0      False
1   35    M   223        Célibataire                 0      False
2   48    M   401        Célibataire                 0      False

shape X_marketing: (20, 9)

In [10]:
rf.predict(X_marketing)

array([3, 0, 3, 1, 1, 2, 2, 3, 0, 2, 2, 3, 3, 2, 3, 1, 2, 1, 3, 3])